<a class="button" href="/merchants/new">New Merchant</a>
<form action="/merchants/" method="POST">
  <input type="text" name="merchants[name]" placeholder="Merchant name here"/>
  <input type="submit" value="Find"/>
</form>

<h1>All The Merchants</h1>

<% @merchants.each do |merchant| %>
  <a href="/merchants/<%= merchant.id %>"><p><%= merchant.name %></p></a>
  <a href="/merchants/<%= merchant.id %>/edit">Edit Merchant</a>
  <form action="/merchants/<%= merchant.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete Merchant"/>
  </form>
<% end %>
