<h1>Looking for a specific merchant?</h1>

<form action="index.html" method="post">

</form>

<h1>All The Merchants</h1>

<% @merchants.each do |merchant| %>
  <p> <%= merchant.name %> </p>
<% end %>
