<h1>Create New Merchant</h1>

<form action="/merchants/index" method="POST">
  <label>Merchant</label>
  <input type="text" name="merchant[name]" placeholder="Merchant Name">
  <input type="submit" value="submit">
</form>
