<h1>Create New Merchant</h1>

<form action="/merchants/index" method="POST">
  <label>Merchant</label>
  <input type="text" name="params[merchant]" placeholder="Merchant Name">
  <input type="submit" name="Create">
</form>