<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/merchant.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<h1>Create New Merchant</h1>

<form action="/merchants" method="POST">
  <label>Merchant</label>
  <input type="text" name="merchant[name]" placeholder="Merchant Name">
  <input type="submit" value="Submit">
</form>
