<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/main.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<h1>This is the merchant you are looking for</h1>

<ul>
  <li> <%= @merchant.name %> </li>
</ul>
<a href="/merchants">Return to Merchant Dashboard</a>
