<head>
  <link rel="stylesheet" type="text/css" href="../../../main.css">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<div class="top">
  <div class="banner">
    <a href="/"><img src="../../../images/little_shop_rusty50.png"/></a>
  </div>
</div>
<div class="nav">
  <div class="dropdown">
    <a href="/merchants"><button class="dropbutton">Merchants</button></a>
    <div class="dropdown-content">
      <a href="/merchants-dashboard">Merchants Dashboard</a>
      <a href="/merchants/new">Create New Merchant</a>
      <form action="/merchants?:params" method="GET">
        <input class="find" type="text" name="name" placeholder="Find by Name...">
      </form>
    </div>
  </div>
  <div class="dropdown">
    <a href="/categories"><button class="dropbutton">Categories</button></a>
    <div class="dropdown-content">
      <a href="/categories-dashboard">Categories Dashboard</a>
      <a href="/categories/new">Create New Category</a>
      <form action="/categories?:params" method="GET">
        <input class="find" type="text" name="name" placeholder="Find by Name...">
      </form>
    </div>
  </div>
  <div class="dropdown">
    <a href="/items"><button class="dropbutton">Items</button></a>
    <div class="dropdown-content">
      <a href="/items-dashboard">Items Dashboard</a>
      <a href="/items/new">Create New Item</a>
      <form action="/items?:params" method="GET">
        <input class="find" type="text" name="title" placeholder="Find by Name...">
      </form>
    </div>
  </div>
</div>
<a href="/">Little Shop Home</a>
<a href="/items">Items</a>

<h1>New Item</h1>

<form action="/items" method="POST">
  Title:<br>
  <input type="text" name="item[title]"/><br><br>
  Description:<br>
  <textarea name="item[description]"></textarea><br><br>
  Price:<br>
  $<input type="number" step="0.01" name="item[unit_price]"/><br><br>
  Image URL:<br>
  <input type="url" name="item[image]"/><br><br>
  Merchant:<br>
  <% @merchants.each do |merchant| %>
    <input type="radio" name="item[merchant_id]" value="<%= merchant.id %>"/><%= merchant.name %><br>
  <% end %><br>
  Category:<br>
  <% @categories.each do |category| %>
    <input type="radio" name="item[category_id]" value="<%= category.id %>"/><%= category.name %><br>
  <% end %><br>
  <input type="submit" value="Submit"/>
</form>
