body {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), src=;
  background-size: 1440px 800px;
  background-repeat: no-repeat;
  background-color: #000000;
  margin: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-color: #540b06;
  border-width: 0;
  border-bottom-width: 1;
  border-style: dashed;
}

a.hover {
  color: #555555;
}

a.visited {
  color: #ffffff
}

a.active {
  color: #c8474e;
}

div {
  margin-top: 528px;
  margin-left: 845px;
}

.links {
  display: flex;
  flex-direction: column;
  transition-delay: 5s ease;
}
