body {
  background-color: #f2f2f2;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1a1a1a;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  height: 50px;
  border-width: 0 0 3 0;
  border-color: pink;
  border-style: solid;
  box-shadow: 10px 5px;
}

a, p {
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  border-width: 2px;
  box-shadow: 10px 10px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 45px;
  color: grey;
}

main {
  display: flex;
  flex-flow: row wrap;
  margin: 50px 200px;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

img {
  max-height: 200px;
  max-width: 200px;
}
