body {
  background: linear-gradient(#232323, #303030);
  margin: 0px;
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
}

audio {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
  font: 12pt 'Josefin Slab';
}

p {
  color: #fff;
}

h1 {
  color: #fff;
  font-family: 'Fredericka the Great', cursive;
  font-size: 16pt;
}

a:hover {
  color: #c8474e;
  cursor: hand;
}

a:active {
  color: #555555;
}

.top {
  display: flex;
  background: linear-gradient(to right, #232323, #303030);
  justify-content: flex-end;
}

.banner {
  background-image: url("images/banner.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.nav {
  background: linear-gradient(#303030, #000);
  height: 45px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
}

.dropbutton {
  margin: 10px;
}

.dropbutton:hover {
  cursor: hand;
}

.dropdown {
  min-width: 206px;
}

.dropdown:hover {
  background-color: #4f4f4f;
  cursor: hand;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 206px;
  background-color: #606060;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-bottom: 10px;
}

.dropdown .dropbutton {
  color: #fff;
  font-size: 17px;
  font-family: "Josefin Slab";
  border: none;
  background-color: inherit;
  outline: none;
  margin: 13px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  width: 84%;
  font-family: 'Josefin Slab';
}

.dropdown a:hover {
  background-color: #4f4f4f;
  cursor: hand;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: hand;
}

.find {
  width: 125px;
  height: 26px;
  cursor: pointer;
  padding: 0 13px;
  overflow: hidden;
  border: none;
  border-radius: 21px;
  font-size: 14px;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0.4);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  outline: none;
  margin-top: 13px;
}

.find:hover{
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  transition: all 600ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.find:focus {
  width: 195px;
  cursor: default;
  padding: -13px 20px 0;
  background: rgba(0,0,0,0.4);
  color: rgba(255,255,255,1);
  transition: all 600ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.container {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  bottom: 0px;
  color: #fff;
}

.featured-container {
  background-color: whitesmoke;
  width: 35%
}

.all-container {
  background: inherit;
  width: 83%;
}

.all-container h1 {
 display: flex;
 justify-content: center;
 color: #fff;
}

.returns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.return {
  height: 150px;
  width: 150px;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #884036;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("images/bad_merchant.jpg");
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

.utility {
  display: none;
}

.utility:hover {
  background: rgba(0,0,0,0.7);
}

.return:hover .utility {
  display: block;
  width: 150px;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
}

.return:hover .merchant a {
  margin-top: 50px;
}

.return_link {
 display: flex;
 align-items: center;
}

.return_link a {
  width: 150px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.utility input {
  border: 1px solid #000;
  width: 75px;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.4));
  color: #fff;
  font-size: 11pt;
  margin-bottom: 0px;
  outline: none;
}

.utility input:hover {
  background: rgba(0,0,0,0.7);
  cursor: hand;
}

.create-container {
  display: flex;
  background: inherit;
  justify-content: flex-end;
  width: 647px;
  height: 340px;
  background-image: url("images/create_clown.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.create {
  display: flex;
  background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4));
  height: 340px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  width: 193px;
}

.create input {
  width: 125px;
  height: 26px;
  cursor: pointer;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  border-radius: 21px;
  font-size: 14px;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  outline: none;
  margin-top: 5px;
}

.create input:hover {
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.2);
  transition: all 600ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.create input:focus {
  width: 195px;
  cursor: default;
  padding: -13px 20px 0;
  background: rgba(132,54,42,0.5);
  color: rgba(255,255,255,1);
  transition: all 600ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.top_button {
  width: 35px;
  border-radius: 20%;
  border: 1px #c8474e;
  border-style: solid;
  position: fixed;
  bottom: 25px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8474e;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

.top_button:hover {
  background-color: #884036;
}

.form {
  width: 125px;
  height: 26px;
  cursor: pointer;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  border-radius: 21px;
  font-size: 14px;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  outline: none;
  margin-top: 5px;
}

.submit-button {
  width: 125px;
  height: 26px;
  cursor: pointer;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  border-radius: 21px;
  font-size: 14px;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-overflow: ellipsis;
  background: rgba(113,52,34,0.5);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  outline: none;
  margin-top: 5px;
}

.container-main {
  margin: 0px 75px;
}

.page-title {
  text-align: center;
  color: #fff;
  font-family: 'Fredericka the Great';
  font-size: 40px;
  margin: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 50px;
}

.item-title {
  text-align: center;
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
}

.item-buttons {
  display: flex;
  margin: 5px;
}

.item-button {
  background-color: black;
  color: white;
  font: 15px 'Josefin Slab';
  margin: 10px;
  padding: 10px;
  border-style: outset;
}

.item-image {
  width: 200px;
  height: 225px;
  margin: 10px;
  border:  5px outset grey;
}

.item-form {
  display: flex;
  justify-content: center;
}

.price-input {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 571px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 18%;
  }

  .dropbutton {
    margin-right: 0px;
  }

  .logo {
    display: flex;
    margin-left: 25%;
    margin-right: 25%
  }

  .banner {
    background-image: none;
    display: flex;
    justify-content: center;
  }

  .top {
    width: 100%;
    background: linear-gradient(#232323, #303030);
  }
}
