body {
  background: linear-gradient(#000000, #540b06)
}

.logo{
  image: url("../../images/little_shop_rusty50.png");
}

h1 {
  color: #ffffff
}

label {
  color: #ffffff
}

a {
  color: #ffffff;
  text-decoration: none;
}

a.hover {
  color: #555555;
}

a.active {
  color: #c8474e;
}
