body {
  background: linear-gradient(#232323, #303030);
  margin: 0px;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #ffffff;
}

a:hover {
  color: #c8474e;
}

a:active {
  color: #555555;
}

.top {
  display: flex;
  background: linear-gradient(to right, #232323, #303030);
  justify-content: flex-end;
}

.banner {
  background-image: url("images/banner.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.nav {
  background: linear-gradient(#303030, #000);
  height: 45px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
}

.dropbutton {
  margin: 10px;
}

.dropdown {
  min-width: 206px;
}

.dropdown:hover {
  background-color: #4f4f4f;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 206px;
  background-color: #606060;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown .dropbutton {
  font-size: 16px;
  border: none;
  color: #ffffff;
  background-color: inherit;
  outline: none;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  width: 84%;
}

.dropdown a:hover {
  background-color: #4f4f4f;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find {
  width: 125px;
  height: 26px;
  cursor: pointer;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  border-radius: 21px;
  font-size: 14px;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  outline: none;
  margin-top: 5px;
}

.find:hover{
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  transition: all 600ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.find:focus {
  width: 195px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  transition: all 600ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.container {
  background-color: inherit;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px;
  bottom: 0px;
}

.featured-container {
  background-color: whitesmoke;
  width: 35%
}

.all-container {
  background: inherit;
  width: 100%;
}

.all-container h1 {
 display: flex;
 justify-content: center;
 color: #ffffff;
}

.merchants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.merchant {
  height: 150px;
  width: 150px;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #884036;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("images/bad_merchant.jpg");
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

.utility {
  display: none;
}

.utility:hover {
  background: rgba(0,0,0,0.7);
}

.merchant:hover .utility {
  display: block;
  width: 150px;
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
}

.merchant:hover .merchant a {
  margin-top: 50px;
}

.merchant_link {
 display: flex;
 align-items: center;
}

.merchant_link a {
  width: 150px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.utility input {
  border: 1px solid #000000;
  width: 75px;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.4));
  color: #ffffff;
  font-size: 11pt;
  margin-bottom: 0px;
  outline: none;
}

.utility input:hover {
  background: rgba(0,0,0,0.7);
  cursor: hand;
}

.top_button {
  width: 35px;
  border-radius: 20%;
  border: 1px #c8474e;
  border-style: solid;
  position: fixed;
  bottom: 25px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8474e;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

.top_button:hover {
  background-color: #884036;
}

@media screen and (max-width: 571px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 18%;
  }

  .dropbutton {
    margin-right: 0px;
  }

  .logo {
    display: flex;
    margin-left: 25%;
    margin-right: 25%
  }

  .banner {
    display: none;
  }

  .top {
    width: 100%;
    background: linear-gradient(#232323, #303030);
  }
}
