<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../main.css">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab" rel="stylesheet">
</head>

<header class="top">
  <figure class="banner">
    <a href="/"><img src="../../../images/little_shop_rusty50.png"/></a>
  </figure>
</header>

<nav class="nav">
  <section class="dropdown">
    <a href="/merchants"><button class="dropbutton">Merchants</button></a>
    <div class="dropdown-content">
      <a href="/merchants-dashboard">Merchants Dashboard</a>
      <a href="/merchants/new">Create New Merchant</a>
      <form action="/merchants?:params" method="GET">
        <input class="find" type="text" name="name" placeholder="Find by Name...">
      </form>
    </div>
  </section>

  <section class="dropdown">
    <a href="/categories"><button class="dropbutton">Categories</button></a>
    <div class="dropdown-content">
      <a href="/categories-dashboard">Categories Dashboard</a>
      <a href="/categories/new">Create New Category</a>
      <form action="/categories?:params" method="GET">
        <input class="find" type="text" name="name" placeholder="Find by Name...">
      </form>
    </div>
  </section>

  <section class="dropdown">
    <a href="/items"><button class="dropbutton">Items</button></a>
    <div class="dropdown-content">
      <a href="/items-dashboard">Items Dashboard</a>
      <a href="/items/new">Create New Item</a>
      <form action="/items?:params" method="GET">
        <input class="find" type="text" name="title" placeholder="Find by Name...">
      </form>
    </div>
  </section>
</nav>
<main class="container">
  <section class="all-container">
    <h1 class="page-title">Jokers to the right</h1>
    <div class="returns">
      <div class="return">
        <div class="return_link">
          <a href="/categories/<%= @category.id %>"><p><%= @category.name %></p></a>
        </div>
        <div class="utility">
          <form action="/categories/<%= @category.id %>/edit" method="GET">
            <input type="submit" value="Edit"/>
          </form>
          <form action="/categories/<%= @category.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="Delete"/>
          </form>
      </div>
    </div>
  </section>
  <center><a href="/categories">Return to Category Index</a></center>
</main>
