<head>
  <link rel="stylesheet" type="text/css" href="../../dashboard.css">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <audio src="../../audio/kids-record-player-daniel_simon.mp3" controls autoplay loop></audio>
  <div class="links">
    <a href="/items">items</a>
    <a href="/merchants">merchants</a>
    <a href="/categories">categories</a>
  </div>
</body>
