<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/merchant.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <div class="logo">
    IMG SHOULD BE HERE THIS IS A PLACEHOLDER
  </div>
  <div class="banner">
    IMG SHOULD BE HERE
  </div>
  <div class="nav">
    <a href>Merchants</a>
    <a href>Items</a>
    <a href> Categories</a>
  </div>
  <div class="featured-container">
    <h1>Featured Merchants</h1>
  </div>
  <div class="all-container">
    <a href="merchants"><h1>All Merchants</h1></a>
  </div>

</body>
