<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/merchant.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <div class="top">
    <div class="logo">
      <img src="public/images/little_shop_rusty50.png">
    </div>
    <div class="banner">
      IMG SHOULD BE HERE
    </div>
  </div>
  <div class="nav">
    <button class="dropdown">Merchants</button>
    <div class="dropdown-content">
      <a href>Merchants</a>
      <a href>Merchants Dashboard</a>
      <a href>Find Merchants</a>
      <a href>Create New Merchant</a>
    </div>
    <button class="dropdown">Items</button>
    <div class="dropdown-content">
      <a href>Items</a>
      <a href>Items Dashboard</a>
      <a href>Find Items</a>
      <a href>Create New Item</a>
    </div>
    <button class="dropdown">Categories</button>
    <div class="dropdown-content">
      <a href>Categories</a>
      <a href>Categories Dashboard</a>
      <a href>Find Categories</a>
      <a href>Create New Category</a>
    </div>
  </div>
  <div class="featured-container">
    <h1>Featured Merchants</h1>
  </div>
  <div class="all-container">
    <a href="merchants"><h1>All Merchants</h1></a>
  </div>

</body>
