<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/merchant.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <div class="logo">

  </div>
  <div class="banner">

  </div>
  <div class="nav">

  </div>
  <div class="featured-container">
    <h1>Featured Merchants</h1>
  </div>
  <div class="all-container">
    <h1>All Merchants</h1>
  </div>

</body>
