<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/main.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <h1>Merchant with the most items</h1>
  <%  %>
  <h1>Merchant with the Highest Price Item</h1>
  <%  %>
  <h1>Breakdown of each merchant with total number of items and total price for all items</h1>
  <%  %>
</body>
